body {
  /* background-color: #dbdbd9; */
  background-color: #ddd;
}

.progress-bar, .badge-progress {
  background-color: #a55c3e;
}

nav.navbar {
  border-radius: 0px;
}

.badge-progress {
    display: inline-block;
    min-width: 10px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
    margin-left: 2px;
}

.progress {
  margin-bottom: 0px;
  height: 21px;
}

.todo-item {
  margin-bottom: 3px;
}

.panel-title {
  margin-bottom: 6px;
  color: #777;
}

.panel-group .panel {
  border-radius: 0px;
}
